#loginPage{
    height:100vh;
}

#signupPage{
    height:100vh;
}

#kudos{
    height:100vh;
}

.select-dropdown {
    vertical-align:top;
    height:25vh;
    overflow-y:auto;
}

#sender{
    margin-top: 4%;
}

.modal-content{
    height:30vh;
}

.buttons{
    margin-top:2%;
}

.text{
    color:white;
    margin-bottom: 4%;
}